html,body {
	height: auto;
  background-color: #fafafa;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.feature {
    margin: 100px 0px;
}
/* ---------------------------------
feature-top start 
---------------------------------- */
.feature-top {
    width: 500px;
    margin: 0px auto;
}

.feature-top .p1 {
    font-size: 30px;
    color: #94929C;
    font-weight: 200;
}

.feature-top h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: #434957;
}
.feature-top .p1, h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.feature-top .p2 {
    color: #94929C;
    text-align: center;
    font-size: 15px;
}
/* ---------------------------------
feature-top end 
---------------------------------- */

/* ---------------------------------
feature-bottom start  
---------------------------------- */
.feature-bottom {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.feature-bottom .col {
    margin-right: 30px;
    width: 31%;
}
.feature-bottom .col:nth-child(3) {
    margin-right: 0px;
}
.feature-bottom .col>div>div {
    padding: 20px;
}
.feature-bottom>div>div {
    background-color: #fff;
    height: 270px;
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    box-shadow: 0px 7px 13px 0px #ccecfbed;
    margin: 30px 0;
}
.feature-bottom .col>div>div>div p {
    font-size: 15px;
    color: #94929C;
}
.feature-bottom .col>div>div>div h3 {
    text-transform: capitalize;
}
.feature-bottom .col>div>div>div img{
    float: right;
}

.feature-bottom .col>div>div>div{
    margin-top: 29px;
}
/* -----------------------
for col2 start
---------------------- */
.feature-bottom>div>.col2{
    border-top: 3px solid hsl(0, 78%, 62%);
}

/* -----------------------
for col2 end
---------------------- */
/* -----------------------
for col3 start
---------------------- */
.feature-bottom>div>.col3{
    border-top: 3px solid hsl(34, 97%, 64%);
}

/* -----------------------
for col3 end
---------------------- */
/* -----------------------
for col4 start
---------------------- */
.feature-bottom>div>.col4{
    border-top: 3px solid hsl(212, 86%, 64%);
}

/* -----------------------
for col4 end
---------------------- */
/* ---------------------------------
feature-bottom end  
---------------------------------- */